/* div,
#mainNav {
  height: 150px;
  width: 1px;
  opacity: 0;
  transition: all 0.75s ease;
}

div,
#mainNav,
.topNav {
  opacity: 1;
  height: 150px;
  width: 500px;
}

div,
#mainNav,
.topNav {
  opacity: 0.2;
  height: 50px;
  width: 50px;
  transform: translateX(0) rotate(0deg);
  transition: all 0.75s ease;
}

div,
#mainNav,
.topNav {
  transform: translateX(450px) rotate(720deg);
  opacity: 1;
} */

a,
.spacing {
  letter-spacing: 0;
  opacity: 0.5;
  transition: all 0.75s ease-out;
}

a,
.spacing.spaced {
  opacity: 1;
  letter-spacing: 10px;
}
