* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

/*   Body Area          */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  min-height: 100%;
}

#container.textName {
  color: white;
  text-align: left;
}

header {
  background-color: rgba(29, 4, 4, 0.863);
  position: relative;
  font-size: 35px;
  transition: all 2.2s ease-in-out;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -2px 3px 0 black,
    1px 1px 0 black;
}

header a:hover {
  color: yellow;
  transition: 0.5s ease-in-out;
}

div,
#mainNav,
.topNav {
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.topNav,
a,
ul {
  background-color: rgba(29, 4, 4, 0.863);
  position: relative;
  text-align: left;
  list-style: none;
}

.topNav,
li {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
}

.topNav,
a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 0.8em;
}

a.nav-link {
  color: white;
  font-size: 30px;
}

#mainBody {
  background-image: url('/assets/image/darkWoodBG.jpg');
  background-size: fill;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Fredericka the Great', cursive;
  line-height: 1;
  color: whitesmoke;
  transition: all 2.2s ease-in-out;
  transition: 2.2;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;
}

/* Main Top Nav */

h1,
h2,
h3 {
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  position: relative;
  color: whitesmoke;
  font-family: 'Fredericka the Great', cursive;
  padding: 7.7rem;
  transition: all 1.2s ease-in-out;
}

.text-addition {
  position: relative;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  padding: 2.7rem;
  transition: all 1.2s ease-in-out;
  font-size: 80px;
}

.sm-heading {
  margin-top: 1rem;
  margin-left: 5rem;
}

main {
  position: relative;
  padding: 5rem;
  height: 100%;
}

main .icons {
  margin-top: 1rem;
  margin-left: 20rem;
  color: white;
  word-spacing: 130px;
}

main .icons a {
  position: relative;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
  color: white;
}

main .icons a:hover {
  color: yellow;
  transition: 0.5s;
  border-image: none;
}

main#home {
  width: fit-content;
  overflow: hidden;
  margin-left: 75px;
}

main#home h1 {
  margin-top: 25vh;
}

#home {
  height: fit-content;
}

h2 {
  /* text-shadow: 1px 1px 1px white, 0 0 1em white, 0 0 0.1em black; */
  font-family: 'Fredericka the Great', cursive;
  font-weight: 900;
  color: white;
  margin-top: 8%;
  font-size: 2vw;
}

p {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin: 2% 0 0 4.5%;
  font-size: 1.8vw;
  color: white;
}

/* ====== Footer  ====== */
.footer {
  background-color: rgba(29, 4, 4, 0.863);
  position: relative;
  height: 60px;
  clear: both;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-emphasis: none;
}

/*  ==== About Me Page ==== */

h2.sm-heading,
.text-addition {
  text-align: center;
  margin-left: 12px;
  text-indent: 5px;
}

.about h4 {
  background-color: rgba(29, 4, 4, 0.863);
  font-family: 'Cinzel', serif;
  border-radius: 10%;
  word-spacing: 0px;
  margin-left: 0;
  margin-right: 0;
}

h4 {
  border-left: 20px;
}

#about {
  background-color: url('/assets/image/darkWoodBG.jpg');
  background: cover;
  position: relative;
  text-align: left;
  font-size: 15px;
  color: whitesmoke;
  line-height: 1.5;
  border-left: 10px;
}

main#about {
  position: relative;
  mask-border-width: 100%;
  margin-right: 300px;
  margin-left: 250px;
}

div.portrait {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  top: 10px;
  right: 40px;
  float: left;
}

img {
  border-radius: 15%;
}

button#myBtn {
  position: relative;
  margin-top: 100px;
  height: 100px;
  width: 250px;
  left: 40%;
  background-color: rgba(29, 4, 4, 0.863);
  border-radius: 50%;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Cinzel', serif;
}

.modal {
  position: relative;
  z-index: 25;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-size: normal;
  width: 40%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1.4s;
  animation-name: slideIn;
  animation-duration: 1.4s;
}

div.modal-content {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: black;
  min-height: 10%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  position: relative;
  background-color: black;
  padding: 2px 16px;
  top: 300px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*   =============    */

/*==== Contact Page ====*/

div,
.contactMain,
#mainBody {
  padding-bottom: 1rem;
}

div,
#container {
  position: relative;
  min-height: 100%;
}

label {
  top: 30px;
  word-spacing: 30px;
  border-radius: 20%;
}

h5 {
  font-family: 'Pompiere', cursive;
}
